body {
    margin: 0;
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: black;
}

#logo {
    color: #d30000;
    font-size: x-large;
    font-weight: bold;
    margin-right: 900px;
}

a {
    text-decoration: none;
    color: white;
    padding: 2px;
}

a:hover {
    background: #3b3b3b;
    border-radius: 10px;
}

#formContainer {
    margin: 20px 0;
    text-align: center;
    height: 300px;
    background-image: url("../assets/searchParty.png");
    background-position: center;
    border: white 1px solid;
}

#formInnerContainer {
    margin-top: 80px;
}

#searchForm {
    margin-top: 80px;
    margin-left: 500px;
    width: 20%;
    padding: 20px;
    background: darkred;
    border-radius: 10px;
    border: 1px solid black;
    opacity: 90%;
}

#searchLabel {
    color: white;
    font-size: x-large;
}

#searchInput {
    margin-bottom: 10px;
}

