body {
    margin: 0;
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background: black;
}

#logo {
    color: #d30000;
    font-size: x-large;
    font-weight: bold;
    margin-right: 900px;
}

a {
    text-decoration: none;
    color: white;
    padding: 2px;
}

a:hover {
    background: #3b3b3b;
    border-radius: 10px;
}

#magnifying {
    padding: 4px;
}

#formContainer {
    margin: 20px 0;
    text-align: center;
    height: 300px;
    background-image: url("../assets/searchParty.png");
    background-position: center;
    border: white 1px solid;
}

#formInnerContainer {
    margin-top: 80px;
}

#searchForm {
    margin-top: 80px;
    margin-left: 500px;
    width: 20%;
    padding: 20px;
    background: darkred;
    border-radius: 10px;
    border: 1px solid black;
    opacity: 90%;
}

#searchLabel {
    color: white;
    font-size: x-large;
}

#searchInput {
    margin-bottom: 10px;
}

#movieTemplate {
    border-radius: 10px;
    border: 1px solid white;
}

.movieDetails {
    color: black;
}

#moviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
    background-color: darkmagenta;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

