.jalopy-nav {
    margin-right: 1em;
}

.jalopy-container {
    position: relative;
    min-height: 100vh;
}
#app {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}