.card {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 110px;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    background-color: grey;
    color: white;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}